<%- include('partials/team') -%> 
<div>
<!---->


<form action="/post/uploadVideo" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label videoUploadForm">Video Title</label>
        <input type="text" class="form-control videoUploadForm" id="title" name="name">
    </div>

   <div class="mb-3">
    
    
    
        </a>
      <label for="imgUpload" class="form-label">Video</label>
      <input type="file" class="form-control videoUploadForm" name="file">
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
  </form>
  

  <section class=" dark:bg-gray-900">
    <div class="backgroundAnimation ">
      
    </div>
    <h2 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">Kings of the Hill</h2>
    <div>
    <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
          <a href="#!">
            <video controls>
              <source src="<%= uploads[0].url %>" type="video/mp4">
            </video>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Card title</h5>
            <p class="text-gray-700 text-base mb-4">
              Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <form
            class="col-1"
            action="/post/likeVideo/<%= uploads[0]._id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h2>Likes: <%= uploads[0].likes %></h2>  
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">videos</h2>
    <section class="flex flex-row">
    <%for (let i=1; i < uploads.length; i++) { %>
    <div class="container px-6 py-8 mx-auto flex flex-row">
        
        

        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
          <video controls>
            <source src="<%= uploads[i].url %>" type="video/mp4">
          </video>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 rounded-md"><%= uploads[i].name %></div>
            <form
            class="col-1"
            action="/post/likeVideo/<%= uploads[i]._id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h2>Likes: <%= uploads[i].likes %></h2>  
            </div>
          </div>

        </div>
        <%}%> 
    </div>
  </section>
</section>
 
</div>



        </section>
</div>

